/* CSS declarations go here */

html { 
  background: url('assets/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/bg.jpg', sizingMethod='scale');
  letter-spacing: 0.8px;
}

.header {
  text-align: center;
}

img.logo {
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
}

.page-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: box;
  align-items: center;
  justify-content: center;
  min-height: 24em;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.page {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  border: 1px solid #6aa943;
  max-width: 720px;
  padding: 10px;
  background-color: #fafafa;
}

.page-title {
  text-align: center;
  font-size: 22px;
  margin: 0px 10px 5px 10px;
  padding: 5px 10px 10px 10px;
  color: #c21d0c;
  border-bottom: 1px solid;
  border-bottom-color: #e8e3d5;
}

.form-group {
  margin: 5px;
  padding: 5px;
}

.form-group-centered {
  text-align: center;
}

.form-group label, .form-group input {
  display: block;
  width: 100%;
  margin: 5px 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.form-group a {
  text-decoration: none;
  color: #c21d0c;
  padding: 5px;
  cursor: pointer;
}

.form-group a:hover{
  text-decoration: underline;
  color: #c21d0c;
  background-color: transparent;
}

.form-group label {
  color: #c21d0c;
}

.form-button {
  line-height: 1.5;
  padding: 0px 10px;
  background-color: #c21d0c;
  color: #fff;
  border: 0; 
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.inline-button {
  margin: 5px;
  padding: 0px 10px;
  background-color: #c21d0c;
  border: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 1.5;
  min-width: 100px;
}

.form-button:hover, .inline-button:hover {
  background-color: #e83a28;
}

.key {
  font-weight: bold;
  color: #c21d0c;
}

.list-group {
  margin: 5px;
  padding: 5px;
  list-style-type: none;
  padding-left: 0;
}

.list-group li {
  margin-bottom: -1px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: box;
  align-items: center;
}

.list-item-name {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.list-item-details {
  margin-bottom: -1px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.hide {
 display: none;
}

input[type=checkbox] {
  transform: scale(1.5);
}

