<template name="Account_page">
  {{# with accountData}}
    <div class="page-title">
      {{name}}
    </div>
    <form class="login-form" novalidate="">
      <div class="form-group">
        <span class="key">{{_ 'account.balance'}}:</span> <span class="value">{{money}}</span>
      </div>
      <div class="form-group">
         <span class="key">{{_ 'account.recharge'}}:</span>
      </div>
      <center>
      {{#if Template.subscriptionsReady}}
        {{#each method in methods}}
          <div class="form-group">
            <a data-event-action="recharge" id="{{method._id}}">{{method.name}} ({{method.currency}})</a>
          </div>
        {{/each}}
      {{/if}}
      </center>
      <div class="form-group">
        <button class="form-button" data-event-action="logout" tabindex="1">{{_ 'common.logout'}}</button>
      </div>
    </form>
  {{/with}}
</template>

