<template name="Change_password_page">
  <div class="page">
    <div class="page-title">
      {{_ 'admin.change-password'}}
    </div>
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="change-password-field">{{_ 'admin.new-password'}}</label>
        <input id="change-password-field" tabindex="1" type="password">
      </div>
      <div class="form-group">
        <label for="change-password-confirm">{{_ 'admin.confirmation'}}</label>
        <input id="change-password-confirm" tabindex="2" type="password">
      </div>
      <div class="form-group form-group-centered">
        <button class="form-button" type="submit" tabindex="3">{{_ 'admin.set-password'}}</button>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
  </div>
</template>

