<template name="Denied_page">
  <div class="page">
    <div class="page-title">
      {{_ 'common.denied'}}
    </div>
    <form class="login-form" novalidate="">
      <div class="form-group">
        <span class="key">{{_ 'common.denied-message'}}</span>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
  </div>
</template>

