<template name="Login_page">
  <div class="page-title">
    {{_ 'common.login'}}
  </div>
  <form class="login-form" novalidate="">
    <div class="form-group">
      <label for="login-server">{{_ 'common.server'}}</label>
      <select id="login-server" tabindex="1">
        {{#each server in servers}}
        <option value="{{server._id}}">{{server.name}} ({{server.host}}:{{server.port_udp}})</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="login-username">{{_ 'common.user'}}</label>
      <input id="login-username" tabindex="2" type="text">
    </div>
    <div class="form-group">
      <label for="login-password">{{_ 'common.password'}}</label>
      <input id="login-password" tabindex="3" type="password">
    </div>
    <div class="form-group form-group-centered">
      <button id="login-button" class="form-button" type="submit" tabindex="4">{{_ 'common.login'}}</button>
    </div>
  </form>
</template>

