<template name="Main_page">
  <div class="page">
    {{#if userLoggedIn}}
      {{> Account_page}}
    {{else}}
      {{> Login_page}}
    {{/if}}
    <div class="form-group">
      <a data-event-action="manage">{{_ 'common.manage'}}</a>
    </div>
  </div>
</template>

