<template name="Manage_page">
  <div class="page">
    <div class="page-title">
      {{_ 'admin.settings'}}
    </div>
    {{#with setting}}
    <form class="settings-form" novalidate="">
      <div class="form-group">
        <label for="settings-name">{{_ 'admin.service-name'}}</label>
        <input id="settings-name" tabindex="1" type="text" value="{{name}}" placeholder="MTA Payments">
      </div>

      <div class="form-group">
        <label for="settings-email">{{_ 'admin.email'}}</label>
        <input id="settings-name" tabindex="2" type="text" value="{{email}}" placeholder="admin@example.com">
      </div>

      <div class="form-group">
        <label for="settings-bg">{{_ 'admin.bg-path'}}</label>
        <input id="settings-bg" tabindex="3" type="text" value="{{bg_path}}" placeholder="/assets/bg.jpg">
      </div>

      <div class="form-group">
        <label for="settings-logo">{{_ 'admin.logo-path'}}</label>
        <input id="settings-logo" tabindex="4" type="text" value="{{logo_path}}" placeholder="/assets/logo.png">
      </div>

      <div class="form-group">
        <label for="settings-autocomplete">{{_ 'admin.autocompletion'}}</label>
        {{#if autocomplete}}
          <input id="settings-autocomplete" data-event-action="manage-checkbox" tabindex="5" type="checkbox" checked="">
        {{else}}
          <input id="settings-autocomplete" data-event-action="manage-checkbox" tabindex="5" type="checkbox">
        {{/if}}
      </div>

      <div class="form-group form-group-centered">
        <button class="form-button" type="submit" tabindex="5">{{_ 'admin.save'}}</button>
      </div>

      <div class="form-group">
        <a data-event-action="servers">{{_ 'admin.servers'}}</a>
        <a data-event-action="methods" style="float: right;">{{_ 'admin.methods'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="change-password">{{_ 'admin.change-password'}}</a>
        <a data-event-action="transactions" style="float: right;">{{_ 'admin.transactions'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
    {{/with}}
  </div>
</template>

