<template name="Not_found_page">
  <div class="page">
    <div class="page-title">
      404
    </div>
    <form class="login-form" novalidate="">
      <div class="form-group">
        <center>
          <span class="key">{{_ 'common.404'}}</span>
        </center>
      </div>
      <div class="form-group">
        <a data-event-action="back">Back</a>
      </div>
    </form>
  </div>
</template>

