<template name="Recharge_page">
  <div class="page">
    {{#if userLoggedIn}}
      {{#if Template.subscriptionsReady}}
        {{#with method}}
          {{#if type 'wm'}}
            {{> WM_form .}}
          {{/if}}

          {{#if type 'yad'}}
            {{> Yad_form .}}
          {{/if}}

          {{#if type 'pp'}}
            {{> PP_form .}}
          {{/if}}
        {{/with}}
      {{/if}}
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    {{else}}
      {{> Login_page}}
    {{/if}}
  </div>
</template>

