<template name="Servers_page">
  <div class="page">
    <div class="page-title">
      {{_ 'admin.servers'}}
    </div>
    {{> Server_list}}
    <form novalidate="">
      <div class="form-group">
        <a data-event-action="manage">{{_ 'admin.settings'}}</a>
        <a data-event-action="methods" style="float: right;">{{_ 'admin.methods'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="change-password">{{_ 'admin.change-password'}}</a>
        <a data-event-action="transactions" style="float: right;">{{_ 'admin.transactions'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
  </div>
</template>

