<template name="Sign_in_page">
  <div class="page">
    <div class="page-title">
      {{_ 'common.login-adm'}}
    </div>
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="sign-in-username">{{_ 'common.user'}}</label>
        <input id="sign-in-username" tabindex="1" type="text">
      </div>
      <div class="form-group">
        <label for="sign-in-password">{{_ 'common.password'}}</label>
        <input id="sign-in-password" tabindex="2" type="password">
      </div>
      <div class="form-group form-group-centered">
        <button id="sign-in-button" class="form-button" type="submit" tabindex="3">{{_ 'common.sign-in'}}</button>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
  </div>
</template>

