<template name="Transactions_page">
  <div class="page">
    <div class="page-title">
      {{_ 'admin.transactions'}}
    </div>
    {{> Transactions_list}}
    <form novalidate="">
      <div class="form-group">
        <a data-event-action="manage">{{_ 'admin.settings'}}</a>
        <a data-event-action="servers" style="float: right;">{{_ 'admin.servers'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="change-password">Change password</a>
        <a data-event-action="methods" style="float: right;">{{_ 'admin.methods'}}</a>
      </div>
      <div class="form-group">
        <a data-event-action="back">{{_ 'common.back'}}</a>
      </div>
    </form>
  </div>
</template>

