<template name="Lang_panel">
  <center>
    <div style="margin-top: 1em;">
      <select id="lang-panel">
      {{#each lang in langs}}
        <option value="{{lang.key}}">{{lang.name}}</option>
      {{/each}}
      </select>
    </div>
  </center>
</template>

