<template name="Methods_list">
  <ul class="list-group">
    {{#each method in methods}}
      {{> Methods_list_item method}}
    {{/each}}
    <li>
      <div class="list-item">
        <div class="list-item-name">
          <span class="key">{{_ 'methods.new'}}</span>
        </div>
        <div class="list-item-controls">
        {{#if isOpen}}
          <button class="inline-button" data-event-action="method-close">{{_ 'admin.close'}}</button>
        {{else}}
          <button class="inline-button" data-event-action="method-add">{{_ 'admin.add'}}</button>
        {{/if}}
        </div>
      </div>
    </li>
    {{#if isOpen}}
      {{> Methods_list_item_new}}
    {{/if}}
  </ul>
</template>

