<template name="Methods_list_item_new">
  <div class="list-item-details">
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="new-method-name">{{_ 'admin.name'}}</label>
        <input id="new-method-name" tabindex="1" type="text">
      </div>
      <div class="form-group">
        <label for="new-method-type">{{_ 'methods.type'}}</label>
        <select id="new-method-type" tabindex="2">
          <option value="wm">WebMoney</option>
          <option value="pp">PayPal</option>
          <option value="yad">Yandex.Money</option>
        </select>
      </div>
      <div class="form-group">
        <label for="new-method-currency">{{_ 'methods.currency'}}</label>
        <input id="new-method-currency" tabindex="3" type="text">
      </div>
      <div class="form-group">
        <label for="new-method-rate">{{_ 'methods.rate'}}</label>
        <input id="new-method-rate" tabindex="4" type="number">
      </div>
      <div class="form-group">
        <label for="new-method-id">{{_ 'methods.id'}}</label>
        <input id="new-method-id" tabindex="5" type="text">
      </div>
      <div class="form-group">
        <label for="new-method-key">{{_ 'methods.key'}}</label>
        <input id="new-method-key" tabindex="6" type="text">
      </div>
      <div class="form-group">
        <button class="form-button" data-event-action="new-method-add" tabindex="7">{{_ 'admin.add'}}</button>
      </div>
    </form>
  </div>
</template>

