<template name="Methods_list_item_details">
  <div class="list-item-details">
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="method-name">{{_ 'admin.name'}}</label>
        <input id="method-name" tabindex="1" value="{{name}}" type="text">
      </div>
      <div class="form-group">
        <label for="method-type">{{_ 'methods.type'}}</label>
        <select id="method-type" tabindex="2">
          {{#if selected 'wm'}}
            <option value="wm" selected="selected">WebMoney</option>
          {{else}}
            <option value="wm">WebMoney</option>
          {{/if}}

          {{#if selected 'pp'}}
            <option value="pp" selected="selected">PayPal</option>
          {{else}}
            <option value="pp">PayPal</option>
          {{/if}}

          {{#if selected 'yad'}}
            <option value="yad" selected="selected">Yandex.Money</option>
          {{else}}
            <option value="yad">Yandex.Money</option>
          {{/if}}
        </select>
      </div>
      <div class="form-group">
        <label for="method-currency">{{_ 'methods.currency'}}</label>
        <input id="method-currency" tabindex="3" value="{{currency}}" type="text">
      </div>
      <div class="form-group">
        <label for="method-rate">{{_ 'methods.rate'}}</label>
        <input id="method-rate" tabindex="4" value="{{rate}}" type="number">
      </div>
      <div class="form-group">
        <label for="method-id">{{_ 'methods.id'}}</label>
        <input id="method-id" tabindex="5" value="{{id}}" type="text">
      </div>
      <div class="form-group">
        <label for="method-key">{{_ 'methods.key'}}</label>
        <input id="method-key" tabindex="6" value="{{key}}" type="text">
      </div>
      <div class="form-group">
        <label for="method-enabled">{{_ 'admin.enabled'}}</label>
        {{#if enabled}}
          <input id="method-enabled" tabindex="7" type="checkbox" checked="">
        {{else}}
          <input id="method-enabled" tabindex="7" type="checkbox">
        {{/if}}
      </div>
      <div class="form-group">
        <button class="form-button" data-event-action="method-save" tabindex="8">{{_ 'admin.save'}}</button>
      </div>
    </form>
  </div>
</template>

