<template name="Methods_list_item">
  <li>
    <div class="list-item">
      <div class="list-item-name">
      {{#if enabled}}
        <span class="key">{{name}} ({{type}})</span>
      {{else}}
        <span class="key" style="font-weight: normal;">{{name}} ({{type}})</span>
      {{/if}}
      </div>
      <div class="list-item-controls">
      {{#if isOpen}}
        <button class="inline-button" data-event-action="method-close">{{_ 'admin.close'}}</button>
      {{else}}
        <button class="inline-button" data-event-action="method-edit">{{_ 'admin.edit'}}</button>
        <button class="inline-button"  data-event-action="method-remove">{{_ 'admin.remove'}}</button>
      {{/if}}
      </div>
    </div>
  </li>
  {{#if isOpen}}
    {{> Methods_list_item_details .}}
  {{/if}}
</template>

