<template name="PP_form">
  <div class="page-title">
    PayPal
  </div>
  <form class="login-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <div class="form-group">
      <input type="hidden" name="charset" value="utf-8">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="{{id}}">
      <input type="hidden" name="custom" value="{{id}}`{{server}}`{{name}}">
    </div>
    <div class="form-group">
      <input type="submit" class="inline-button" name="PayPal" value="{{_ 'account.pp'}}">
    </div>
  </form>
</template>

