<template name="Server_list">
  <ul class="list-group">
    {{#each server in servers}}
      {{> Server_list_item server}}
    {{/each}}
    <li>
      <div class="list-item">
        <div class="list-item-name">
          <span class="key">{{_ 'servers.new'}}</span>
        </div>
        <div class="list-item-controls">
        {{#if isOpen}}
          <button class="inline-button" data-event-action="server-close">{{_ 'admin.close'}}</button>
        {{else}}
          <button class="inline-button" data-event-action="server-add">{{_ 'admin.add'}}</button>
        {{/if}}
        </div>
      </div>
    </li>
    {{#if isOpen}}
      {{> Server_list_item_new}}
    {{/if}}
  </ul>
</template>

