<template name="Server_list_item_details">
  <div class="list-item-details">
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="server-name">{{_ 'admin.name'}}</label>
        <input id="server-name" tabindex="1" value="{{name}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-host">{{_ 'servers.host'}}</label>
        <input id="server-host" tabindex="2" value="{{host}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-port">{{_ 'servers.port'}}</label>
        <input id="server-port" tabindex="3" value="{{port}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-port-udp">{{_ 'servers.port-udp'}}</label>
        <input id="server-port-udp" tabindex="4" value="{{port_udp}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-user">{{_ 'servers.user'}}</label>
        <input id="server-user" tabindex="5" value="{{user}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-password">{{_ 'servers.password'}}</label>
        <input id="server-password" tabindex="6" value="{{password}}" type="password">
      </div>
      <div class="form-group">
        <label for="server-key">{{_ 'servers.key'}}</label>
        <input id="server-key" tabindex="7" value="{{key}}" type="text">
      </div>
      <div class="form-group">
        <label for="server-enabled">{{_ 'admin.enabled'}}</label>
        {{#if enabled}}
          <input id="server-enabled" tabindex="8" type="checkbox" checked="">
        {{else}}
          <input id="server-enabled" tabindex="8" type="checkbox">
        {{/if}}
      </div>
      <div class="form-group">
        <button id="server-save-button" class="form-button" data-event-action="server-save" tabindex="9">{{_ 'admin.save'}}</button>
      </div>
    </form>
  </div>
</template>

