<template name="Server_list_item_new">
  <div class="list-item-details">
    <form class="login-form" novalidate="">
      <div class="form-group">
        <label for="new-server-name">{{_ 'admin.name'}}</label>
        <input id="new-server-name" tabindex="1" value="{{name}}" type="text">
      </div>
      <div class="form-group">
        <label for="new-server-host">{{_ 'servers.host'}}</label>
        <input id="new-server-host" tabindex="2" value="{{host}}" type="text">
      </div>
      <div class="form-group">
        <label for="new-server-port">{{_ 'servers.port'}}</label>
        <input id="new-server-port" tabindex="3" value="{{port}}" type="text">
      </div>
      <div class="form-group">
        <label for="new-server-port-udp">{{_ 'servers.port-udp'}}</label>
        <input id="new-server-port-udp" tabindex="4" value="{{port_udp}}" type="text">
      </div>
      <div class="form-group">
        <label for="new-server-user">{{_ 'servers.user'}}</label>
        <input id="new-server-user" tabindex="5" value="{{user}}" type="text">
      </div>
      <div class="form-group">
        <label for="new-server-password">{{_ 'servers.password'}}</label>
        <input id="new-server-password" tabindex="6" value="{{password}}" type="password">
      </div>
      <div class="form-group">
        <label for="new-server-key">{{_ 'servers.key'}}</label>
        <input id="new-server-key" tabindex="7" value="{{key}}" type="text">
      </div>
      <div class="form-group">
        <button id="server-add-button" class="form-button" data-event-action="new-server-add" tabindex="8">{{_ 'admin.add'}}</button>
      </div>
    </form>
  </div>
</template>

