<template name="Server_list_item">
  <li>
    <div class="list-item">
      <div class="list-item-name">
        {{#if enabled}}
          <span class="key">{{name}} ({{host}}:{{port_udp}})</span>
        {{else}}
          <span class="key" style="font-weight: normal;">{{name}} ({{host}}:{{port_udp}})</span>
        {{/if}}
      </div>
      <div class="list-item-controls">
      {{#if isOpen}}
        <button class="inline-button" data-event-action="server-close">{{_ 'admin.close'}}</button>
      {{else}}
        <button class="inline-button" data-event-action="server-edit">{{_ 'admin.edit'}}</button>
        <button class="inline-button"  data-event-action="server-remove">{{_ 'admin.remove'}}</button>
      {{/if}}
      </div>
    </div>
  </li>
  {{#if isOpen}}
    {{> Server_list_item_details .}}
  {{/if}}
</template>

