<template name="Transactions_list_item_details">
  <div class="list-item-details">
    <form class="login-form" novalidate="">
      <div class="form-group">
        <span class="key">{{_ 'transactions.id'}}: </span>{{_id}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.method'}}: </span>{{method}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.source'}}: </span>{{payer}}
      </div>
      <div class="form-group">
        <span class="key">{{_ transactions.receiver}}: </span>{{receiver}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.sum'}}: </span>{{sum}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.amount'}}: </span>{{amount}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'common.server'}}: </span>
        {{#if Template.subscriptionsReady}}
          {{srv}}
        {{/if}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.account'}}: </span>{{account}}
      </div>
      <div class="form-group">
        <span class="key">{{_ 'transactions.date-received'}}: </span>{{date_time_received}}
      </div>
      <div class="form-group">
        <span class="key">Status: </span>
        {{#if notPerformed}}
          Pending
        {{else}}
          Completed
        {{/if}}
      </div>
      {{#if notPerformed}}
        <div class="form-group">
          <span class="key">{{_ 'transactions.error'}}: </span>{{err_message}}
        </div>
      {{/if}}
      <div class="form-group">
        {{#if notPerformed}}
          <input type="button" class="inline-button" data-event-action="transaction-complete" value="{{_ 'transactions.complete'}}">
        {{else}}
          <span class="key">{{_ 'transactions.date-completed'}}: </span>{{date_time_performed}}
        {{/if}}
      </div>
    </form>
  </div>
</template>

