<template name="Transactions_list_item">
  <li>
    <div class="list-item">
      <div class="list-item-name">
        {{#if notPerformed}}
          <span class="key">(!) {{date_time_received}} - {{account}} - {{amount}}</span>
        {{else}}
          <span class="key" style="font-weight: normal;">{{date_time_received}} - {{account}} - {{amount}}</span>
        {{/if}}
      </div>
      <div class="list-item-controls">
      {{#if isOpen}}
        <button class="inline-button" data-event-action="transaction-close">{{_ 'admin.close'}}</button>
      {{else}}
        <button class="inline-button" data-event-action="transaction-details">{{_ 'admin.details'}}</button>
      {{/if}}
      </div>
    </div>
  </li>
  {{#if isOpen}}
    {{> Transactions_list_item_details .}}
  {{/if}}
</template>

