<template name="Transactions_list">
  {{date}}
  <div class="form-group">
    {{#if mode 0}}
      <a style="font-weight: bold;" data-event-action="transaction-filter-15">{{_ 'transactions.15'}}</a>
    {{else}}
      <a data-event-action="transaction-filter-15">{{_ 'transactions.15'}}</a>
    {{/if}}

    {{#if mode 1}}
      <a style="font-weight: bold;" data-event-action="transaction-filter-incomplete">{{_ 'transactions.inc'}}</a>
    {{else}}
      <a data-event-action="transaction-filter-incomplete">{{_ 'transactions.inc'}}</a>
    {{/if}}

    {{#if mode 2}}
      <a style="font-weight: bold;" data-event-action="transaction-filter-all">{{_ 'transactions.all'}}</a>
    {{else}}
      <a data-event-action="transaction-filter-all">{{_ 'transactions.all'}}</a>
    {{/if}}
  </div>
  <ul class="list-group">
    {{#if count}}
      {{#each transaction in transactions}}
        {{> Transactions_list_item transaction}}
      {{/each}}
    {{else}}
      <div class="form-group">
        <center>
          <span class="key" style="font-weight: normal; font-style: italic;">{{_ 'transactions.none'}}</span>
        </center>
      </div>
    {{/if}}
  </ul>
</template>

