<template name="WM_form">
  <div class="page-title">
    WebMoney
  </div>
  
  <form class="login-form" action="https://merchant.webmoney.ru/lmi/payment.asp" method="POST">
    <div class="form-group"> 
      <label for="wm-amount">{{_ 'account.amount'}}</label>
      <input id="wm-amount" tabindex="1" value="1" type="number" min="1" step="1">
    </div>
    <div class="form-group">
      <label for="wm-cost">{{_ 'account.cost'}} ({{currency}}):</label>
      <input id="wm-cost" tabindex="2" value="{{initial_cost}}" type="text" readonly="readonly">
    </div>
    
    <div class="form-group">
      <input type="hidden" name="LMI_PAYMENT_AMOUNT" value={{initial_cost}}>
      <input type="hidden" name="LMI_PAYMENT_DESC" value="{{server}}`{{name}}">
      <input type="hidden" name="LMI_PAYEE_PURSE" value="{{id}}">
    </div>
    <div class="form-group">
      <input type="submit" class="form-button" tabindex="3" value="{{_ 'account.purchase'}}">
    </div>
  </form>
</template>

