<template name="Yad_form">
  <div class="page-title">
    Yandex.Money
  </div>
  
  <form class="login-form" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <div class="form-group">
      <label for="yad-amount">Amount to buy:</label>
      <input id="yad-amount" tabindex="1" value="1" type="number" min="1" step="1">
    </div>
    <div class="form-group">
      <label for="yad-cost">Cost ({{currency}}):</label>
      <input id="yad-cost" tabindex="2" value="{{initial_cost}}" type="text" readonly="readonly">
    </div>
    <div class="form-group">
      <input type="hidden" name="sum" value="{{initial_cost}}" data-type="number">
      <input type="hidden" name="receiver" value="{{id}}">
      <input type="hidden" name="formcomment" value="{{id}}`{{server}}`{{name}}">
      <input type="hidden" name="short-dest" value="{{id}}`{{server}}`{{name}}">
      <input type="hidden" name="label" value="{{id}}`{{server}}`{{name}}">
      <input type="hidden" name="quickpay-form" value="shop">
      <input type="hidden" name="targets" value="{{id}}`{{server}}`{{name}}">
      <input type="hidden" name="paymentType" value="PC">
      <input type="hidden" name="successURL" value="{{successUrl}}">
    </div>
<!--    <div class="form-group">
      <span class="key">Make sure not to change anything in the form at money.yandex.ru, otherwise your payment won't be forwarded!</span>
    </div> -->
    <div class="form-group">
      <input type="submit" class="form-button" value="Pay">
    </div>
  </form>
</template>

