<template name="App_body">
  <div class="header">
    {{#if Template.subscriptionsReady}}
      <img class="logo" src="{{logo_path}}"/>
    {{/if}}
  </div>
  <div class="page-container">
    {{> Template.dynamic template=main}}
  </div>
  {{> Lang_panel}}
  {{> sAlert}} 
</template>

